.services {
  &__card {
    &-outer {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-end;
    }

    border-radius: var(--desktop-radius);

    display: flex;
    flex-direction: column;
    gap: 68px;
    overflow: hidden;
    position: relative;
    min-width: 342px;
    height: 252px;
    padding: 50px;

    background: var(--green-dark);

    &-title {
      font-size: 24px;
      position: relative;
      z-index: 1;
    }

    &-img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0,-50%);
    }

    &-btn {
      position: relative;
      z-index: 1;
      font-family: var(--ptserif) !important;
      font-size: 24px;
      border-radius: var(--mobile-radius) !important;
      width: max-content;
      padding: 12px 60px;
      border-color: var(--dark) !important;
      color: var(--dark) !important;

      transition: background .2s linear, border-color .2s linear, color .2s linear;
      @media(any-hover: hover) {
        &:hover {
          background: var(--accent) !important;
          border-color: var(--accent) !important;
          color: var(--light) !important;
        }
      }
    }
  }
}

@media(max-width: 1170px) {
  .services {
    &__card {
      min-width: auto;
      width: 100% !important;
      padding: 20px;
      justify-content: space-between;
      height: 180px;

      &-btn {
        width: 100%;
        background: rgba(255, 255, 255, 0.40);

        backdrop-filter: blur(2px);
      }
    }
  }
}
