.team {
    &__slider {
      &-outer {
        position: relative;
        height: 510px;
      }
      height: inherit;
      width: 2000px !important;
      position: absolute;
      left: 50%;
      transform: translate(calc(-50% - 280px + 120px), 0);
      &-wrapper {
        align-items: flex-end;
        height: inherit;
      }
      &-slide {
        width: 120px !important;
        height: 195px !important;
        transition: all 0.5s linear;
        position: relative;
        &-active {
          width: 340px !important;
          height: 510px !important;
          .team__slider {
            &-img {
              background: var(--accent);
              border-radius: var(--desktop-radius);
            }
  
            &-info {
              transition-delay: 0.5s;
              opacity: 1;
              visibility: visible;
              pointer-events: all;
            }
          }
        }
      }
  
      &-content {
        width: inherit;
        height: inherit;
      }
  
      &-img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        background: #d9d9d9;
        border-radius: var(--mobile-radius);
        transition: background 0.5s linear, border-radius 0.5s linear;
      }
  
      &-info {
        z-index: 1;
        position: absolute;
        top: 0;
        right: -28px;
        transform: translate(100%, 0);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.15s linear, visibility 0.15s linear,
          pointer-events 0.15s linear;
      }
  
      &-name {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin-bottom: 16px;
      }
  
      &-list {
        list-style: disc;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        &-item {
          margin-left: 25px;
          list-style: disc;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.1px;
        }
      }
  
      &-btn {
        padding: 10px 20px;
        font-size: 20px;
      }
    }
  
    &__common-btn {
      display: none !important;
    }
  }
  
  @media (max-width: 1170px) {
    .team {
      &__slider {
        &-outer {
          height: 475px;
        }
        &-wrapper {
          box-sizing: border-box;
        }
        width: calc(100% + 30px) !important;
        height: 475px !important;
        transform: translate(-50%, 0);
        &-slide {
          width: 190px !important;
          height: 430px !important;
          &-active {
            width: 190px !important;
            height: 430px !important;
  
            .team {
              &__slider {
                &-img {
                  border-radius: var(--mobile-radius);
                }
  
                &-content {
                  transform: translate(0,0);
                }
              }
            }
          }
        }
  
        &-content {
          justify-content: flex-end;
          display: flex;
          flex-direction: column;
          transform: translate(0, 50px);
  
          transition: transform .5s linear;
        }
  
        &-img {
          width: 100%;
          height: 240px;
          margin-bottom: 20px;
          transition: height .5s linear, width .5s linear;
        }
  
        &-info {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
          position: static;
          transform: unset;
          right: 0;
          top: 0;
          margin-left: 25px;
        }
  
        &-list {
          margin-bottom: 0;
          &-item {
            margin-left: 0;
            font-size: 12px;
          }
        }
  
        &-name {
          font-size: 20px;
          margin-bottom: 10px;
        }
  
  
        &-btn {
          display: none !important;
        }
      }
  
      &__common-btn {
        display: flex !important;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  