.price {
    &__table {
      display: flex;
      flex-direction: column;
      &-row {
        padding: 16px;
        border-bottom: 1px solid var(--dark);
  
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
      }
  
      &-head {
        font-size: 18px;
        font-weight: 600;

        &-type {
          br {
            display: none;
          }
        }
      }
  
      &-item {
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        background: transparent;
        color: var(--dark);
  
        transition: background .2s linear;
  
        @media(any-hover: hover) {
          &:hover {
            background: var(--blue-light);
          }
        }
      }

      &-name {
        max-width: 796px;
        width: 100%;
      }
      &-price {
        max-width: 160px;
        width: 100%;
        text-align: center;
      }
      &-type {
        max-width: 280px;
        width: 100%;
        text-align: center;
      }
    }
  }
  
  @media(max-width: 1170px) {
    .price {
      &__table {
        &-head
        {
          padding: 0;
          font-size: 8px;

          &-row {
            padding: 5px;
          }

          &-price {
            min-width: 60px;
          }
  
          &-type {
            min-width: 88px;
            br {
              display: block;
            }
          }
        }

        &-row {
          padding: 5px 0;
          display: inline-table;
        }

        &-item {
          font-size: 9px;
        }

        &-price {
          min-width: 60px;
        }

        &-type {
          min-width: 88px;
        }
      }
    }
  }
  